* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'noto sans kr', sans-serif;
    text-align: center;
    width: 100%;
    background: whitesmoke;
    display: block;
}

.error {
    margin: 10px;
}

.cancel {
    width: 30%;
    height: 100%;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #999;
}

button {
    margin: 10px;
    font-size: 28px;
    font-weight: 800;
    color:#85A5D5;
    border-width: 3px;
    background: #C3DAFC;
    border-color: #9FC5FF;
    padding: 10px;
    border-radius: 10px;
}

.main {
    text-align: center;
    font-size: 32px;
    font-family: 'noto sans kr', sans-serif;
    position: relative;
    border: none;
    display: inline-block;
}