#contents{
    width: 94%;
    margin: auto;
}


#list_contents{
    height: 550px;
    /* background-color: blueviolet; */
}



.bookImageStyle{
    width: 100%;
}


.bookTh{
    vertical-align: bottom;
    width:13%;
}


#searchTable{
    margin:5px;
}


#searchTable td{
    width: 16.6%;
    text-align: center;
}
.bookImageTd{
    vertical-align: bottom;
}
