@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

.wrap { max-width: 1200px; min-width:800px; margin: 0 auto; }

h2{ padding: 10px 0px 20px 0px;}

table.manageInquire, table.search { width: 100%;}
table.manageInquire th{width: 70px; height: 40px;}

.hidden{ display:none;}

.answer{color:blue ;}
.answer:hover{text-decoration : underline; cursor : pointer;}