* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap {
    /* margin: auto;
    width: 100%; */
    height: 100vh;
    min-width: 400px;
    background: powderblue;
}

h1 {
    text-align: center;
}

.bookTable {
    white-space: nowrap;
    text-align: center;
}
.bookTable tr, .bookTable td, .bookTable th{
    padding: 5px;
}
.bookTable tr{
    background: #c3ddfc;
}
.bookTable tr:nth-child(odd){
    background: #9ebcfc;
}
.bookTable tr:hover{
    background: #4b7cc5;
    color: white;
}

/* table {
    width: 100%;
    table-layout: fixed;
} */

/* td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
} */

.radioBox {
    text-align: center;
}

#optionBtn{
    margin: 1%;
    width: 200px;
    height: 35px;
    float: right;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    position: absolute;
    right: 0;
    bottom: 0;
}
#optionBtn button{
    color: white;
    background:#4b7cc5;
    border-color: white;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border-width: 1px;
}
#optionBtn button:hover{
    color: #999;
    background:#9ebcfc;
    font-weight: 800;
}