a{ text-decoration: none; color: inherit;}

#wrap{margin: 0 auto;}
main.notice { max-width: 1000px; margin: 20px auto 70px auto; position: relative;}

.noticeTitle{ color: #6a6a6a; padding: 5px; margin-bottom: 10px; font-size: 20px; border-bottom: 1px solid #000;}

.postWrapper{ width: 1000px; height: 750px; overflow: hidden;}
.postList{ width: 1000px; height: 750px; display: flex; flex-direction: column; }

.postItem { width: 100%; height: 40px; display: flex; margin-bottom: 10px; }
.postItem:hover { opacity: 0.8; }
.postItem .postCategory { width: 10%; height: 100%; background-color: #b0b0b0; text-align: center; line-height: 40px; margin-right: 20px;}
.postItem .postInfo { width: 80%; flex-grow: 1;}
.postItem .postInfo .postTitle { font-weight: bold; }
.postItem .postInfo .postDate { color: #6a6a6a; font-size: 12px;}
.postItem .postExpandIcon { width: 5%; display: flex; justify-content: center; }
.postItem .postExpandIcon img { width: 30px; height: 30px; }

ul.pageNumber { list-style: none; display: flex; justify-content: space-between;}
ul.pageNumber li { width: 70px; height: 50px; background: gray; line-height: 50px; text-align: center;}
ul.pageNumber li a.on { background: #000000; color: #ffffff; }
ul.pageNumber li a:hover { background: #000000; color: #ffffff; }
ul.pageNumber li a{ display: block; width: 100%; height: 100%;}