@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap { width: 100%; margin: 0 auto; }

h2{ padding: 20px 0px 20px 0px; color: #495057;}

#paymentTable{width: 100%; font-size: 15px;}

.List th{ background: #f1F3F5; height: 40px;}
.List td{ height: 40px;}