@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrap { margin: 0 auto; }

h2{ padding: 20px 0px 0px 0px; color: #495057;}

h4{ padding: 10px 0px 10px 0px; }

.delinfo{ padding-bottom: 10px;}

table { width: 100%; font-size: 14px;}

table th.col{ width: 150px; 
    width: 211px;
}

.closebtn{ text-align: center; display: inline-block;}

.block{ height: 30px;}

table.confirm{ text-align: center; }

table.confirm td, th{ height: 45px;}

.confirm th, .delinfo th, .order th, .pay th{ background: #F1F3F5;}

.order td{ height: 40px;}

/* rgb(241, 243, 245); */