@charset "utf-8";

.wrap {
    width: 1280px;
    margin: 0 auto;
}

table {
    border-spacing: 0px;
    margin: 20px; width: 1280px;
    border-collapse: collapse;
}

th {

    text-align: left;
    padding: 30px;
    border-left: none;
    border-right: none;

}

td.title {
   
    height: 40px;
    width: 300px;
}

td.content {
    height: 10px;
    width: 300px;
    /* border-bottom: none; */
    font-size: medium;
}

td.subj {
    border-bottom: 1px solid rgb(77, 70, 70);
    font-weight: 550;
    /* color: grey; */
    font-size: large;
    border-top: none;
    padding-top: 40px;
    padding-bottom: 10px;
}

td.bnt{
    width: 80px;
    height: 80px;

}

td.paytool{
    width: 430px;
    height: 80px;
}


td.stickybar{
    background-color: aqua;
}

td.order_title{
    height: 25px;
}

td.block{
    width: 200px;
}