header {
  width: 1200px;
  height: 70px;
  background-color: gray;
}

.adinfo {
  background-color: white;
  width: 1200px;
  height: 105px;
}

.adinfo_in {
  display: inline-block;
  position: absolute;
  top: 200px;
  width: 120px;
  height: 95px;
  text-align: center;


}

.adinfo_in2 {

  position: absolute;
  left: 190px;
  top: 240px;
  width: 1058px;
  height: 35px;
  font-size: 13px;

}

.adinfo_in3 {
  position: absolute;
  left: 190px;
  top: 220px;
  width: 1058px;
  height: 35px;
  font-size: 11px;

}


.custinfo {
  width: 1200px;
  height: 70px;
  background-color: white;
}

.custinfo_in {
  width: 135px;
  text-align: center;
}

.custinfo_in2 {
  position: absolute;
  left: 190px;
  top: 310px;
  width: 1058px;
  height: 30px;
  font-size: 12px;

}

.prodinfo {
  width: 1200px;
  background-color: white;
  height: 280px;
}

.prodinfo_in {
  width: 146px;
  background-color: #99CCFF;
  position: absolute;
  left: 10px;
  height: 208px;

}
img{
  width: 100%;
  height: 100%;
}

.prodinfo_in2 {
  width: 500px;
  position: absolute;
  left: 240px;
  top: 500px;
  height: 30px;
  font-size: 15px;
}

.vertical-line {
  position: absolute;
  width: 1px;
  left: 850px;
  border-right: 1px solid gray;
  height: 200px;

}

.sum {
  position: absolute;
  height: 150px;
  top: 480px;
  left: 900px;
  width: 500px;

}

.count {
  position: absolute;
  height: 150px;
  top: 540px;
  left: 905px;
  width: 500px;
  font-size: 13px;
}

.payinfo {
  width: 1200px;
  background-color: #FFFFCC;
  height: 200px;


}
.notice{
  width: 1200px;
  height: 25px;
  font-size: 11.5px;

}
.paybutton {
  width: 1200px;
  height: 60px;
  background-color: #FF9999;
  border-radius: 15px;
  text-align: center;
  line-height: 60px;
  color: aliceblue;
  font-size: large;
}

