@charset "utf-8";

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.wrap { max-width: 1200px; min-width:800px; margin: 0 auto; }
.wrap h2 { font-size: 28px; padding: 0 0 15px;}

.wrap table{
    width: 100%;
}

.block0{ height: 10px;}
.block{ height: 10px;}



.cusinfo h3{ font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.cusinfo th { font-size: 13px; color:#444; text-align: left; width: 22.75%;}
.cusinfo td { padding: 5px 0px;font-size: 13px; color:#444; text-align: left; font-weight: bold;}

.delinfo h3{  font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.delinfo th { font-size: 13px; color:#444; text-align: left; width: 22.75%;}
.delinfo td { padding: 12px 0px;font-size: 13px; color:#444; text-align: left; font-weight: bold;}
.delinfo td > button{ font-size: 11px; color:#444; text-align: left; font-weight: bold;
    width: 60px; height: 25px; background-color:rgb(255, 255, 255); 
    border: 1px solid rgb(168, 167, 167); padding: 10px 0px 0px px; border-radius: 7%;}
.delinfo table td.block{ border-bottom: 1px solid #444;}

.prodinfo h3{ font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.prodinfo table{ width: 100%;}
.prodinfo td { font-size: 13px; color:#444; text-align: left; font-weight: bold; padding: 10px 0px 10px 0px;}
.prodinfo table .imgBox{ height: 200px; width: 35%;}
.prodinfo img{ height: 100%;}



.point h3{  font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.point th { font-size: 13px; color:#444; text-align: left; width: 35%;}
.point td { padding: 15px 0px; font-size: 13px; color:#444; text-align: left; font-weight: bold;}
.point td > input{ height: 25px;}
.point td > button{ font-size: 11px; color:#444; text-align: left; font-weight: bold;
    width: 60px; height: 25px; background-color:rgb(255, 255, 255); 
    border: 1px solid rgb(168, 167, 167); padding: 10px 0px 0px px; border-radius: 7%;}
.point select{ width: 175px; height: 30px; border: 1px solid rgb(151, 151, 151); }

.paymethod h3{  font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.paymethod th {height: 140px; font-size: 14px; color:#444; text-align: left; width:35%;}
.blockbnt{ height: 7px;}
.paymethod td.paybnt > a{ display: inline-block; height: 35px; text-align: center; font-size: 16px; line-height: 30px; margin: auto;}
.paymethod td.paybnt > a.bnt1{ width: 310px; background: #ffffff; border: 1px solid rgb(168, 167, 167)}
.paymethod td.paybnt > a.bnt2{ width: 150px; background: #ffffff; border: 1px solid rgb(168, 167, 167)}
.paymethod td.paybnt > a.bnt3{ width: 150px; background: #ffffff; border: 1px solid rgb(168, 167, 167)}

.policy h3{  font-size: 16.5px; border-bottom: 1.5px solid rgba(177, 175, 175, 0.329); padding: 40px 0px 10px;}
.policy table td { height: 80px; padding: 10px 0px; font-size: 13px; color:#444; text-align: left; font-weight: bold;}

.stickyBar { width: 35%; vertical-align: top;}
.stickyTable{position: sticky; top: 0; background:rgb(185 245 245 / 42%); width: 100%; box-shadow: 0px 0px 0px 1px #d1fdfd; border-radius: 2px; padding: 10px;}
.stickyTable th{ text-align: left; width: 180px; }
.stickyTable td{ text-align: right; width: 100px; }

.fianlpayBnt button {
	width: 100%; height: 40px; font-size: 22px; font-weight: 500; color: #fff; background-color: rgb(255, 153, 153); border: 1px solid rgb(252, 140, 140); border-radius: 2px;}

