@charset "utf-8";

.wrap {
    width: 1280px;
    margin: 0 auto;
}

table {
    border: 1px;
    border-spacing: 0px;
}

th {
    text-align: left;
    padding: 30px;
    border-left: none;
    border-right: none;

}

td.title {
    width: 200px;
    border-bottom: none;
}


td {

    border-left: none;
    border-right: none;
    border-bottom: none;
}

td.content {
    height: 10px;
    height: 10px;
    border-bottom: none;
}

td.subj {
    font-weight: 550;
    color: grey;
    font-size: large;
    border-top: none;
    padding-top: 40px;
    padding-bottom: 15px;
}

td.stickybar{
    background-color: aqua;
}