*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrap{
    margin: auto;
    max-width: 1200px;
    min-width: 800px;
    min-height: 100vh;
    position: relative;
}

body{
	background-color: #ecf0f1;
}
