@charset "utf-8";

#wrap{
    max-width: 1280px;
    margin: 0 auto;
}

:root{
    --myGrayColor : #c6c6c6;
}

main{margin: 50px 0 100px 0;}

.cart{ max-width: 1200px; margin: 0 auto; }
.cart .cartTitle{ color: #6a6a6a; margin: 10px 5px; font-size: 20px; font-weight: bold; text-align: left;}


table.bookList{ border-collapse: collapse; margin-bottom: 20px; width: 1200px;}
table.bookList th{ padding: 5px; text-align: center; border-bottom: 1px solid var(--myGrayColor); border-top: 1px solid var(--myGrayColor);}
table.bookList .thBookInfo{ width: 40%; }
table.bookList .thBookPrice{ width: 15%;}
table.bookList .thBookCount{ width: 15%;}
table.bookList .thBookPriceSum{ width: 15%;}
table.bookList .thBookDeliveryDate{ width: 15%;}

.bookItem { height: 250px; text-align: center; border-bottom: 1px solid var(--myGrayColor);}
.bookItemClick{ box-shadow: inset 2px 2px 10px rgb(0, 0, 0, 0.1); transform: scale( 0.99 )}
.bookItem .bookCheck{ width: 5%;}
.bookItem .bookCheck input[type=checkbox] { display : none;}
.bookItem .bookImg{ width: 12%;}
.bookItem .bookImg img{ width: 100%; height: 100%; object-fit: cover;}
.bookItem .bookTitle{ width: 23%;}
.bookItem .bookPrice{ width: 15%;}
.bookItem .bookCount{ width: 15%;}
.bookItem .bookCount input[type=number] { width: 50%; text-align: end;}
.bookItem .bookPriceSum{ width: 15%;}
.bookItem .bookDeliveryDate{ width: 15%;}
.bookItem .bookDelete{ width: 1px; position : relative;}
.bookItem .bookDelete .bookDeleteBtn{ position : absolute; top: 5px; right: 5px; width: 1.5em; height: 1.5em; background-color: inherit; font-size: 15px; font-weight: bold; border: none; color: #6e6e6e;}
.bookItem .bookDelete .bookDeleteBtn:hover{ background-color: rgb(145 145 145 / 30%);}

table.selectBookMoney{ width: 100%; border-collapse: collapse;}
table.selectBookMoney tr> *{ border: 1px solid var(--myGrayColor);}
table.selectBookMoney th {background-color: #7ca7d2; height: 50px;}

table.selectBookMoney td {text-align: end; height: 90px; padding: 10px; font-size: 20px;}
table.selectBookMoney td.bookValue {width: 40%; }
table.selectBookMoney td.bookDeliveryValue {width: 20%;}
table.selectBookMoney td.bookLastValue {width: 40%; color: red;}

.submitBtns { text-align: end;}
.submitBtns button{ width: 180px; height: 50px; border: none; border-radius: 5px; margin: 40px 20px; font-weight: bold; cursor: pointer;}
.submitBtns button.selectBookPaymentBtn{ background-color: #ff9696;}
.submitBtns button.selectBookSaveBtn{ background:#9a9a9a}